// @import "./reset";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --main-bg-color: #f6f6f6;
  --main-color: rgb(133, 145, 235);
  --secondary-color: rgb(238, 219, 219);
  --main-font-color: #2b2727;
  --secondary-font-color: #717b8b;

  // Headings important text
  --color-emerald: #009688;

  // Use sky blue for links, call-to-action buttons, and hover effects. Its lighter, welcoming tone complements emerald green and encourages user interaction.
  --color-sky-blue: #87ceeb;

  // For navigation bars and footers, charcoal gray offers a strong contrast against soft white, making navigation elements easy to locate and read.
  --color-charcoal-gray: #36454f;

  // Background
  --color-soft-white: #f5f5f5;

  // Secondary text
  --color-cool-gray: #aab7b8;

  // Primary calls to action
  --color-vibrant-pink: #ff8187;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.1em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #f6f6f6;
  }
}

.cog-form__container {
  background-color: transparent !important;
}

.filter_scale {
  @apply transition-all hover:scale-110 hover:opacity-80;
}
