@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: #f6f6f6;
  --main-color: rgb(133, 145, 235);
  --secondary-color: rgb(238, 219, 219);
  --main-font-color: #2b2727;
  --secondary-font-color: #717b8b;

  /*headings important text*/
  --color-emerald: #009688;
  /* Use sky blue for links, call-to-action buttons, and hover effects. Its lighter, welcoming tone complements emerald green and encourages user interaction.
Secondary Text and Details */
  --color-sky-blue: #87ceeb;
  /* For navigation bars and footers, charcoal gray offers a strong contrast against soft white, making navigation elements easy to locate and read. */
  --color-charcoal-gray: #36454f;
  /*background*/
  --color-soft-white: #f5f5f5;
  /* secondary text */
  --color-cool-gray: #aab7b8;
  /* primary calls to action */
  --color-vibrant-pink: #ff8187;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-family: Inter;
  background-color: var(--color-soft-white);
  overflow-x: hidden;
}

header {
  margin-top: 12px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_wrapper .header_logo {
  width: 160px;
  height: 60px;
  background-color: var(--secondary-color);
}
.header_wrapper .header_links {
  display: flex;
  justify-content: space-around;
  gap: 2.2em;
}
.header_wrapper .header_links a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: 0.4s;
}
.header_wrapper .header_links a:hover {
  /* color: rgb(156, 151, 151); */
  @apply hover_header;
}

.mobile_button {
  display: none;
}

.header_links_mobile {
  position: fixed;
  flex-direction: column;
  top: 0;
  right: 0;
  gap: 2em;
  padding: 140px 36px 0 180px;
  background: linear-gradient(
    90deg,
    rgba(246, 246, 246, 0),
    10%,
    rgba(246, 246, 246, 0.8),
    70%,
    rgb(226, 226, 226)
  );
  height: 100%;
  min-width: 0;
  overflow: hidden;
}
.header_links_mobile a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  text-align: right;
}

.hero {
  display: flex;
  justify-content: space-around;
}
.hero .hero_left {
  flex: 1;
  line-height: 100px;
}
.hero h1 {
  padding: 0 20px 8px 0;
  font-size: 70px;
  font-weight: bold;
}

.hero-border {
  border-right: 2px rgb(88, 69, 69) solid;
}

.sm-hero-border {
  border-bottom: 2px rgb(88, 69, 69) solid;
}

.hero .hero_right {
  flex: 1;
  font-size: 24px;
  text-wrap: balance;
}

.hero_btns {
  margin-top: 10%;
  display: flex;
  gap: 4em;
  justify-content: center;
  align-items: center;
}
.hero_btns .main_btn {
  cursor: pointer;
  transition: 0.4s;
}
.hero_btns .main_btn:hover {
  @apply hover_btn;
}
.hero_btns .secondary_btn {
  border: none;
  border-radius: 12px;
  padding: 16px 20px 16px 20px;
  background-color: var(--color-soft-white);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}
.hero_btns .secondary_btn:hover {
  background-color: rgb(213, 204, 204);
}

section h2 {
  text-align: center;
  font-size: 44px;
}

.accordion_item {
  margin-bottom: 2%;
}
.accordion_item .accordion_item_name {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
.accordion_item .accordion_item_name img {
  max-width: 32px;
  cursor: pointer;
}
.accordion_item .accordion_item_content {
  line-height: 155%;
  font-size: 18px;
  margin-top: 2%;
}

.use_cases {
  margin-top: 100px;
}

.use_cases_content {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.use_cases_content .use_cases_content_left {
  /*max-width: 50%;*/
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.use_cases_content .use_cases_content_left h3 {
  font-size: 28px;
}
.use_cases_content .use_cases_content_left p {
  margin-top: 12px;
}
.use_cases_content .use_cases_content_left a {
  text-decoration: none;
  padding: 8px 28px 8px 8px;
  background-color: var(--color-soft-white);
  width: max-content;
  border-radius: 6px;
  background-image: url(/images/link_arrow.svg);
  background-repeat: no-repeat;
  background-size: 12%;
  background-position: 94% 50%;
  margin-top: auto;
  transition: 0.4s;
}
.use_cases_content .use_cases_content_left a:hover {
  background-color: rgb(244, 244, 244);
}
.use_cases_content .use_cases_content_right {
  /*max-width: 47%;*/
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.use_cases_content .use_cases_content_right div {
  background-color: var(--secondary-color);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: 0.4s;
}
.use_cases_content a {
  text-decoration: none;
  font-size: 20px;
  width: max-content;
}

.use_cases_second_block {
  flex-grow: 2;
}

.use_cases_third_block {
  flex-grow: 1;
}

.contact_logos {
  display: flex;
}

.contact_logos a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact_logos p {
  font-size: 20px;
}

.contact_form {
  margin-top: 6%;
  display: flex;
  gap: 0.5em;
  width: 500px;
}
.contact_form input {
  flex-grow: 2;
  padding: 8px;
  background-color: var(--secondary-color);
  border: none;
  font-size: 18px;
}
.contact_form input:focus {
  border: none;
  outline: none;
}
.contact_form button {
  flex-grow: 1;
  padding: 8px;
  font-size: 18px;
  border: none;
  background-color: #8df5aa;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
}
.contact_form button:hover {
  background-color: #8fe0a6;
}

.roadmap_body {
  margin-top: 5%;
}
.roadmap_body h3 {
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
}

.roadmap_item {
  display: flex;
  justify-content: flex-start;
  gap: 0.7em;
  margin-top: 12px;
}
.roadmap_item input {
  scale: 1.5;
}
.roadmap_item p {
  font-size: 18px;
}

.team_cards_item {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  align-items: center;
}
.team_cards_item img {
  margin-bottom: 10px;
}
.team_cards_item h3 {
  font-size: 30px;
  margin-bottom: 5px;
  text-align: center;
}
.team_cards_item p {
  margin-bottom: 12px;
}

.team_cards_item:hover .team_card_links {
  transform: translateY(0%);
  opacity: 1;
}

.team_card_links {
  gap: 24px;
  transition: 0.4s;
  transform: translateY(-50%);
  opacity: 0;
}
.team_card_links img {
  width: 30px;
}

.team_cards:last-of-type {
  margin: 40px 0;
}

.bg1 {
  position: absolute;
  border-radius: 50%;
  /* filter: blur(85px); */
  z-index: -1;
  opacity: 60%;
}

@media (max-width: 1400px) {
  .hero h1 {
    padding: 0 20px 8px 0;
    font-size: 80px;
    font-weight: bold;
  }
}

@media (max-width: 1024px) {
  .header_wrapper .header_links {
    display: none;
  }
  .mobile_button {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
  }
  .mobile_open {
    display: block;
    z-index: 1;
    position: absolute;
  }

  .mobile_close {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .team_cards_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .team_cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .team_cards .team_cards_item {
    max-width: 80%;
    margin-top: 5%;
    text-align: center;
  }
} /*# sourceMappingURL=styles.css.map */

.team_about_text {
  text-align: center;
}

.filter_scale {
  @apply transition-all hover:scale-110 hover:opacity-80;
}

.filter_scale_lower {
  @apply transition-all hover:scale-[102%];
}

.hover_header {
  @apply transition-all hover:scale-105 text-color-emerald;
}

.active_header {
  @apply transform active:scale-75 transition-transform;
}

.hover_btn {
  @apply transition-all hover:scale-90;
}

.section_title {
  @apply text-color-charcoal-gray;
}

/*BUTTON CSS FROM CODEPEN*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: inherit;
  width: 200px;
  height: 60px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}
.btn {
  border: 2px solid var(--color-emerald);
  animation: 0.5s collision ease-in;
  overflow: hidden;
  transition: 0.3s 0.1s;
  /* background-color: var(--color-emerald); */
  border-radius: 40px;
}
/* .btn:active {
  transform: translateX(100px);
  background: rgba(255, 255, 255, 0.5);
} */
.btn p {
  position: relative;
  color: var(--color-emerald);
  font-weight: 700;
  font-size: 1.2rem;
  z-index: 5;
  transition: 1s ease-in-out;
}
.btn:hover p {
  color: var(--color-soft-white);
}
.btn:hover {
  border: 2px solid var(--color-charcoal-gray);
}
.btn:before,
.btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--color-charcoal-gray);
}
.btn:hover:before {
  animation: collisionLeft 1s both;
  animation-direction: alternate;
}
.btn:hover:after {
  animation: collisionRight 1s both;
  animation-direction: alternate;
}
.btn:before {
  left: -30%;
}
.btn:after {
  left: 125%;
}
@keyframes collisionLeft {
  0% {
    left: -30%;
    width: 20px;
    height: 20px;
  }
  50% {
    left: 50%;
    width: 40px;
    height: 40px;
  }
  100% {
    left: 50%;
    width: 300px;
    height: 300px;
  }
}
@keyframes collisionRight {
  0% {
    left: 125%;
    width: 20px;
    height: 20px;
  }
  50% {
    left: 50%;
    width: 40px;
    height: 40px;
  }
  100% {
    left: 50%;
    width: 300px;
    height: 300px;
  }
}

.cog-form__container {
  background-color: transparent !important;
}
